{%extends "base.html"%} {% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Upload project</h3>
        </div>
        <div class="panel-body">

          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-group">
              <input type="submit" class="btn btn-primary " value="Post">
            </div>

           

          </form>
          

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}