{% extends "base.html"%}
{% load bootstrap3 %}
{% block content%}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
    body{
      font-family: 'Barlow Semi Condensed', sans-serif;
      background-color: brown;
    }
    img{
         width: 100%;
         height: 100%;
         padding-bottom: 3px;
     }
    #search{
      text-align: center;
    }
    .card a{
      color: black;
    }
    .card a:hover{
      color: deepskyblue;
      text-decoration: none;
    }
    
    .top{
      text-align: center;
    }
    .search-btn{
      position: absolute;
      display: inline-flex;
    }
    .intro{
        text-align: center;
        
    }
  </style>
  
  <div class="container">
      <div class="intro">
          <h2><u>Welcome To The Project Rating Site</u></h2>
      </div>
      <div class="row top">
        <div class="col-md-4">
      <div class="create-post">
          <a href="{% url 'create'%}"><button class="btn btn-info">post project</button> </a>
        </div>
        </div>
        <div class="col-md-7">
        <form id="search" class="navbar-form " role="search" action="{% url 'search' %}">
  
          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="search projects" name="query">
            <button type="submit" class="btn btn-info search-btn"><i class="glyphicon glyphicon-search"></i></button>
          </div>
    
        </form>
      </div>
      </div>
    
        <hr>
        <div class="row">
        {% for project in projects%}
        <div class="col-md-4 mb-4">
          <div class="card">
          <div class="card-header"><a href="{% url 'details' project.pk %}"><b>{{project.title}}</b></a> <a  href="{{project.link}}" class="btn btn-outline-info btn-sm" style="float:  right;">visit </a></div>
          <div class="card-body">
             <a href="{% url 'details' project.pk %}"> <img src="{{project.image.url}}" alt="{{project.title}}}"></a>
              <p>{{project.description}}</p>
          </div>
          <div class="card-footer"><b>by:</b>{{project.user.username}}
          <p class="text-muted">{{project.date_posted|timesince}} ago</p></div>
  
          </div>
         </div>
      {% endfor %}
      </div>
     
      </div>
{% endblock %}
